.myPostsBlock{
    padding: 10px;
}
.posts{
    margin-top: 30px;
}
.buttonPosition{
    display: flex;
    flex-direction:row;

}
.textAreaMessage textarea{
    width: 100%;
    height: 80px;
    outline: none;
    resize: none;
}
.buttom{
    width:90px;
    height:35px;
    border-radius: 3px;
    margin: 5px 2px;

}