.nav{
    grid-area: n;
    background-color: darkgrey;
    padding: 18px;
    border: 2px solid black;
    font-size: 25px;
}
.item a{
    color:white;
    text-decoration: none;
}

.item a.activeLink {
    color: greenyellow;
}

.itemSettings a{
    color:white;
    text-decoration: none;
    margin-top: 30px;
}