.app-wrapper{
  display: grid;
  grid-template-rows: 60px 1fr ;
  grid-template-columns:2fr 10fr;
  width: 1200px;
  margin:0 auto ;
  grid-template-areas:
  "h h"
  "n c"

}

.header{
  grid-area: h;
  background-color: crimson;
}
.header img{
  width:67px;
}


.nav{
  grid-area: n;
  background-color: orange ;

}

.content{
  grid-area: c;
  background-color: greenyellow;
}
.content img{
  width:1000px ;
}