.dialogs {
    display: grid;
    grid-template-columns: 2fr 5fr 5fr;
    font-size: 20px;

}
.dialogsItems {
    padding: 10px;
}
.dialogsItems a{
    text-decoration: none;
    color: white;
}

.dialogsItems a.activeLink{
    color: greenyellow;
}

.dialogsItems ul{
    color: white;
}

.itemsName{
padding: 2px;
}

.messages {
    padding: 10px;
    border: 1px solid black;
}

.messages img{
    width:50px;
    height:50px;
    border-radius: 30px;
}

.itemsMessage {
color: white;
}

.avatar img{
    width:50px;
    height:50px;
    border-radius: 30px;
}
.avatar{
    display: grid;
    grid-template-columns: 2fr 10fr;
    grid-column-gap: 10px;
}






.myPostsBlock{
    padding: 10px;
}
.posts{
    margin-top: 30px;
}
.buttonPosition{
    display: flex;
    flex-direction:row;

}
.textAreaMessage textarea{
    width: 100%;
    height: 80px;
    outline: none;
    resize: none;
}
.buttom{
    width:90px;
    height:35px;
    border-radius: 3px;
    margin: 5px 2px;

}